@import './abstracts/vars';
@import './abstracts/mixins';


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

button{
    border: none;
}



@import './header';
@import './abstracts/content';